@import "tailwindcss";
html,
body,
#root {
  margin: 0 !important;
  padding: 0 !important;
  height: 100vh !important;
  width: 100vw !important;
  overflow: hidden !important;
}

.swiper {
  height: 100% !important;
  width: 100% !important;
}

.swiper-slide {
  height: 100% !important;
  width: 100% !important;
}

.swiper-slide img {
  min-height: 100vh !important;
  min-width: 100vw !important;
  object-fit: cover !important;
}
button {
  z-index: 10;
}
